html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container, .section, .global-header, .nav-list {
  zoom: 1;
}
.container:after, .section:after, .global-header:after, .nav-list:after {
  content: '';
  display: table;
  clear: both;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}
html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: visible;
}

.section {
  width: 100%;
  max-width: 1000px;
  padding-top: 20px;
  background: #fff;
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10 {
  float: left;
  margin-left: 20px;
}
.last.span-1, .last.span-2, .last.span-3, .last.span-4, .last.span-5, .last.span-6, .last.span-7, .last.span-8, .last.span-9, .last.span-10 {
  margin-right: 20px;
}

.span-1 {
  width: 78px;
}

.span-2 {
  width: 176px;
}

.span-3 {
  width: 274px;
}

.span-4 {
  width: 372px;
}

.span-5 {
  width: 470px;
}

.span-6 {
  width: 568px;
}

.span-7 {
  width: 666px;
}

.span-8 {
  width: 764px;
}

.span-9 {
  width: 862px;
}

.span-10 {
  width: 960px;
}

.sidebar {
  float: right;
}

.global-header {
  margin: 15px 0 28px 0;
}
.global-header .logo {
  float: left;
}

.no-decoration, .nav-item a {
  text-decoration: none;
}

.nav-item {
  float: left;
}

.main-img {
  display: none;
}
.main-img.active {
  display: block;
}

.search-account {
  float: right;
  width: 260px;
}

.account-links .nav-item {
  padding: 0 10px;
}
.account-links .nav-item:first-child {
  padding-left: 0;
  background: none;
}
.account-links .nav-item.last {
  padding-right: 0;
}
.account-links .account-link {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}

.page-nav {
  width: 1000px;
}
.page-nav .nav-item {
  position: relative;
  top: 4px;
  padding: 15px 37px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bdbdbd));
  background: -moz-linear-gradient(#ffffff, #bdbdbd);
  background: -webkit-linear-gradient(#ffffff, #bdbdbd);
  background: linear-gradient(#ffffff, #bdbdbd);
}
.page-nav .nav-item:hover {
  background: #bec0c3;
  cursor: pointer;
}
.page-nav .nav-item.active {
  top: 0;
  padding-top: 19px;
  border: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.page-nav .nav-item.active .page-nav-link {
  opacity: 1;
}
.page-nav .page-nav-link {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.07em;
  font-weight: 700;
  text-transform: uppercase;
  color: #282b2e;
  opacity: .8;
}

.backdrop {
  background: #447fda url(/images/city-scape.jpg) center top no-repeat;
}
