html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container, .section, .row, .nav-list, .newsletter,
.contests, .global-header, .global-nav, .post, .newsletter-options, .newsletter-footer, .contest, .footer, .footer-wrap {
  zoom: 1;
}
.container:before, .section:before, .row:before, .nav-list:before, .newsletter:before,
.contests:before, .global-header:before, .global-nav:before, .post:before, .newsletter-options:before, .newsletter-footer:before, .contest:before, .footer:before, .footer-wrap:before {
  content: '';
  display: table;
}
.container:after, .section:after, .row:after, .nav-list:after, .newsletter:after,
.contests:after, .global-header:after, .global-nav:after, .post:after, .newsletter-options:after, .newsletter-footer:after, .contest:after, .footer:after, .footer-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[class*="icon-"] {
  display: inline-block;
  background: url(/images/icon-sprite.png) no-repeat;
  vertical-align: middle;
}

.icon-facebook,
.icon-flickr,
.icon-rss,
.icon-twitter,
.icon-vimeo {
  width: 26px;
  height: 26px;
}

.icon-facebook {
  background-position: 0 -158px;
}

.icon-flickr {
  background-position: 0 -116px;
}

.icon-rss {
  background-position: 0 -75px;
}

.icon-twitter {
  background-position: 0 -39px;
}

.icon-vimeo {
  background-position: 0 0;
}

.icon-categories,
.icon-video,
.icon-articles {
  width: 15px;
  height: 16px;
}

.icon-video {
  background-position: 0 -203px;
}

.icon-categories {
  background-position: 0 -229px;
}

.icon-articles {
  background-position: 0 -258px;
}

.icon-envelope {
  background-position: 0 -300px;
  width: 12px;
  height: 11px;
}

.icon-contests {
  background-position: 0 -332px;
  width: 12px;
  height: 11px;
}

.icon-search {
  background-position: 0 -349px;
  width: 14px;
  height: 13px;
}

.arrow-blue-up,
.arrow-black-down,
.arrow-blue-left {
  display: inline-block;
  vertical-align: middle;
}

.arrow-black-down {
  width: 11px;
  height: 9px;
  background: url(/images/arrow-black-down.png) 0 0 no-repeat;
}

.arrow-blue-left {
  width: 13px;
  height: 7px;
  background: url(/images/arrow-blue-left.png) 0 0 no-repeat;
}

.arrow-blue-up {
  width: 12px;
  height: 10px;
  background: url(/images/arrow-blue-up.png) 0 0 no-repeat;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

a {
  color: #282b2e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.no-placeholder .placeholder-replacement {
  position: static;
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 0 5px 0;
  overflow: visible;
  clip: auto;
}

.container {
  display: table;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: visible;
}

.container-wrap {
  height: 100%;
}

.container-wrap,
.footer {
  display: table-row;
}

.section {
  width: 100%;
  max-width: 1000px;
  padding: 20px 0 15px 0;
  background: #fff;
}
.section.top-spacer {
  border-top: 1px solid #cccdcd;
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10 {
  position: relative;
  float: left;
  margin-left: 20px;
}
.last.span-1, .last.span-2, .last.span-3, .last.span-4, .last.span-5, .last.span-6, .last.span-7, .last.span-8, .last.span-9, .last.span-10 {
  margin-right: 20px;
}
.no-gutter.span-1, .no-gutter.span-2, .no-gutter.span-3, .no-gutter.span-4, .no-gutter.span-5, .no-gutter.span-6, .no-gutter.span-7, .no-gutter.span-8, .no-gutter.span-9, .no-gutter.span-10 {
  margin-left: 0;
}

.span-1 {
  width: 78px;
}

.span-2 {
  width: 176px;
}

.span-3 {
  width: 274px;
}

.span-4 {
  width: 372px;
}

.span-5 {
  width: 470px;
}

.span-6 {
  width: 568px;
}

.span-7 {
  width: 666px;
}

.span-8 {
  width: 764px;
}

.span-9 {
  width: 862px;
}

.span-10 {
  width: 960px;
}

.sidebar {
  float: right;
}

.row {
  margin-bottom: 20px;
}
.row.last {
  margin-bottom: 0;
}

.nav-item {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #fff;
}
.nav-item:first-child {
  padding-left: 0;
  border-left: none;
}
.nav-item.last {
  padding-right: 0;
}

.link {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
}

.text-field {
  padding-left: 5px;
  width: 100%;
  height: 24px;
}
.text-field.search-box {
  margin-bottom: 18px;
}
.text-field.email {
  margin-bottom: 10px;
}

.header {
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 12px;
  font-size: 0.75rem;
}

.main .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 34px;
  color: #fff;
  background: #0084d9;
}
.main .header.overhang {
  left: -33px;
}
.main .header.overhang .arrow-blue-left {
  position: absolute;
  bottom: -6px;
  left: 0;
}
.main .header [class*="icon-"] {
  margin: 0 11px 0 8px;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: .8;
}
.carousel .caption {
  padding: 12px 10px;
}
.video-container .caption {
  padding: 10px 0 12px 13px;
}

.advertisement {
  margin-top: 18px;
}
.advertisement:first-child {
  margin-top: 0;
}

.categories,
.recent-articles,
.popular-videos {
  padding-top: 54px;
}

.sidebar .header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #969696;
}
.sidebar .header [class*="icon-"] {
  margin-right: 11px;
}

.newsletter,
.contests {
  padding: 0 10px;
  background: #dbdbdb;
  font-size: 12px;
  font-size: 0.75rem;
}

.newsletter-footer,
.contests {
  margin-bottom: 20px;
}

.twitter-feed {
  margin-top: 30px;
}

.backdrop {
  background: #447fda url(/images/city-scape.jpg) center top fixed no-repeat;
}

.global-header {
  margin: 15px 0;
}
.global-header .logo {
  float: left;
}

.search-account {
  position: relative;
  float: right;
  margin-top: 15px;
  width: 260px;
}
.search-account .icon-search {
  position: absolute;
  top: 6px;
  right: 4px;
}

.global-nav {
  width: 1000px;
}
.global-nav .global-nav-item {
  position: relative;
  top: 4px;
  float: left;
  padding-top: 12px;
  height: 40px;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bdbdbd));
  background: -moz-linear-gradient(#ffffff, #bdbdbd);
  background: -webkit-linear-gradient(#ffffff, #bdbdbd);
  background: linear-gradient(#ffffff, #bdbdbd);
  text-align: center;
}
.global-nav .global-nav-item:hover {
  background: #bec0c3;
  cursor: pointer;
}
.global-nav .global-nav-item.selected {
  top: 0;
  padding-top: 16px;
  height: 44px;
  border: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.global-nav .global-nav-item.selected .global-nav-link {
  opacity: 1;
}
.global-nav .destinations {
  width: 175px;
}
.global-nav .getaways {
  width: 147px;
}
.global-nav .travel-tips {
  width: 163px;
}
.global-nav .news-features {
  width: 205px;
}
.global-nav .contents {
  width: 148px;
}
.global-nav .contact-us {
  width: 162px;
}
.global-nav .global-nav-link {
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.07em;
  font-weight: bold;
  text-transform: uppercase;
  color: #282b2e;
  opacity: .8;
}
.global-nav .global-nav-link:hover {
  text-decoration: none;
}

[data-slide] {
  display: none;
}

[data-caption-headline],
[data-caption-details] {
  display: none;
}

[data-active-slide="0"] [data-slide="0"] {
  display: inline;
}
[data-active-slide="0"] [data-slide="0"] .main-img {
  display: block;
}
[data-active-slide="0"] [data-caption-headline="0"],
[data-active-slide="0"] [data-caption-details="0"] {
  display: block;
}
[data-active-slide="0"] [data-slide-thumb="0"]:before {
  content: '';
}

[data-active-slide="1"] [data-slide="1"] {
  display: inline;
}
[data-active-slide="1"] [data-slide="1"] .main-img {
  display: block;
}
[data-active-slide="1"] [data-caption-headline="1"],
[data-active-slide="1"] [data-caption-details="1"] {
  display: block;
}
[data-active-slide="1"] [data-slide-thumb="1"]:before {
  content: '';
}

[data-active-slide="2"] [data-slide="2"] {
  display: inline;
}
[data-active-slide="2"] [data-slide="2"] .main-img {
  display: block;
}
[data-active-slide="2"] [data-caption-headline="2"],
[data-active-slide="2"] [data-caption-details="2"] {
  display: block;
}
[data-active-slide="2"] [data-slide-thumb="2"]:before {
  content: '';
}

[data-active-slide="3"] [data-slide="3"] {
  display: inline;
}
[data-active-slide="3"] [data-slide="3"] .main-img {
  display: block;
}
[data-active-slide="3"] [data-caption-headline="3"],
[data-active-slide="3"] [data-caption-details="3"] {
  display: block;
}
[data-active-slide="3"] [data-slide-thumb="3"]:before {
  content: '';
}

.carousel-main-img {
  position: relative;
  margin-bottom: 10px;
}

.carousel-headline {
  margin-bottom: 5px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-details {
  font-size: 14px;
  font-size: 0.875rem;
}

.carousel-thumbnails {
  position: relative;
}
.carousel-thumbnails .arrow-blue-up {
  position: absolute;
  top: -9px;
}
[data-active-slide="0"] .carousel-thumbnails .arrow-blue-up {
  left: 73px;
}
[data-active-slide="1"] .carousel-thumbnails .arrow-blue-up {
  left: 243px;
}
[data-active-slide="2"] .carousel-thumbnails .arrow-blue-up {
  left: 410px;
}
[data-active-slide="3"] .carousel-thumbnails .arrow-blue-up {
  left: 580px;
}

.carousel-thumb {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 159px;
  height: 79px;
}
.carousel-thumb:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -moz-box-shadow: inset 0px 0px 0px 3px #0084d9;
  -webkit-box-shadow: inset 0px 0px 0px 3px #0084d9;
  box-shadow: inset 0px 0px 0px 3px #0084d9;
}
.carousel-thumb:first-child {
  margin-left: 0;
}
.carousel-thumb:hover {
  cursor: pointer;
}

.category-header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}
.category-header:first-child {
  margin-top: 0;
}
.category-header .arrow-black-down {
  margin-left: 6px;
}

.category {
  margin-bottom: 5px;
  font-size: 14px;
  font-size: 0.875rem;
}

.recent-articles .row {
  max-height: 105px;
}

.post {
  font-size: 14px;
  font-size: 0.875rem;
}

.post-thumbnail {
  float: left;
}

.post-content {
  float: left;
  margin-left: 15px;
  padding-top: 3px;
  width: 300px;
}

.post-header {
  margin-bottom: 9px;
  font-weight: bold;
}

.post-details {
  line-height: 1.2;
}

.popular-videos {
  margin-top: 20px;
}

.video-container {
  position: relative;
  float: left;
  margin-left: 20px;
}
.video-container:first-child {
  margin-left: 0;
}

.video-title {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
}

.newsletter-options {
  margin-bottom: 10px;
  padding: 10px 0 0px 10px;
  background: #cac9c9;
}

.newsletter-option-container {
  margin-bottom: 10px;
}

.newsletter-options-header {
  margin-bottom: 13px;
  font-style: italic;
}

.options-label {
  vertical-align: middle;
  font-weight: bold;
}

.options-input {
  margin-right: 10px;
  vertical-align: middle;
}

.newsletter-submit-btn {
  float: right;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  border: none;
  -moz-appearance: none;
  color: #fff;
  background: #0084d9;
  text-transform: uppercase;
}
.newsletter-submit-btn:hover {
  cursor: pointer;
}

.newsletter-footer {
  padding: 5px 0;
  border-top: 1px solid #969696;
  font-size: 12px;
  font-size: 0.75rem;
  background: #cac9c9;
}
.newsletter-footer .nav-list {
  margin: 0 auto;
  width: 170px;
}
.newsletter-footer .nav-item {
  border-color: #282b2e;
}

.contest {
  margin-bottom: 10px;
}

.contest-image {
  float: left;
  margin-right: 15px;
}

.contest-details {
  float: left;
  margin-top: 5px;
  width: 155px;
}

.footer {
  background: #2c2c2c;
}
.footer .nav-list {
  margin-bottom: 8px;
}

.footer-wrap {
  margin: 18px 20px 15px 20px;
}

.legal {
  float: left;
}

.copyright, .address {
  float: left;
  font-size: 12px;
  font-size: 0.75rem;
  color: #969696;
}

.address {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #969696;
}

.social-links {
  float: right;
}

.social-link {
  margin-left: 3px;
}
.social-link:first-child {
  margin-left: 0;
}
.social-link a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -999em;
}
